.aawesome__container {
    width: 100%;
}

.awesome__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awesome__header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.awesome__header-title {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.divider {
    border: 1px solid #EC7979;
    width: 170px;
    margin-bottom: 40px;
}

.awesome__header-title h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.awesome__header-info {
    width: 100%;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awesome__header-info h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;

}

.awesome__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 110px;

}

.card__sign img {
    width: 92px;
    height: 92px;
    margin-bottom: 39px;
}

.awesome__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.card__name {
    width: 369px;
    height: 100px;
    margin-bottom: 8px;

}

.card__name h4 {
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.card__discription {
    width: 370px;
    height: 105px;
}

.card__discription h5 {
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}