.banner {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/city.png);
  background-size: cover;
}
.banner__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__body {
  width: 100%;
  display: flex;
  padding-top: 283px;
  padding-bottom: 185px;
  justify-content: space-between;
}
.main-section__logo {
  margin-bottom: 72px;
}
.logo__axit img {
  width: 165px;
  height: 55px;
}
.main-section__title {
  max-width: 670px;
  margin-bottom: 55.12px;
}
.main-section__title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.divider.white {
  border-color: #ffffff;
  margin-left: 0px;
}
.main-section__button button:hover {
  border: #ec7979 1px solid;
  color: #ec7979;
  background: #ffffff;
}
.main-section__text {
  max-width: 270px;
  margin-top: 42px;
  margin-bottom: 42px;
}
.main-section__text h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.main-section__button button {
  width: 270px;
  height: 58px;
  background: transparent;
  border: 2px solid #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.banner__form-section {
  margin-left: 30px;
  flex-grow: 1;
}

.form-section__card {
  background-color: #ffffff;
  border-radius: 10px;
}
.form__title {
  padding: 29px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}
.form__title h4 {
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  color: #333333;
}
.form__title span {
  color: #ec7979;
}
.form__card-input {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 42px;
}
.form__card-input input {
  width: 100%;
  height: 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  margin-bottom: 33px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #bdbdbd;
}
.form__btn {
  width: 100%;
}
.form__btn button {
  width: 100%;
  height: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #ec7979;
  border-style: hidden;
  border-radius: 0 0 10px 10px;
}
.form__btn button:hover {
  border: #ec7979 1px solid;
  color: #ec7979;
  background: #ffffff;
}
@media screen and (max-width: 1024px) {
  .banner__body {
    padding: 212px 25px 131px 25px;
    justify-content: space-evenly;
  }
  .main-section__logo {
    margin-bottom: 54px;
  }
  .logo__axit img {
    width: 111.89px;
    height: 41.17px;
  }
  .main-section__title {
    max-width: 454px;
    margin-bottom: 41px;
  }
  .main-section__title h1 {
    font-size: 36px;
    line-height: 42px;
  }
  .main-section__text h5 {
    font-size: 14px;
    line-height: 16.44px;
  }
  .main-section__text {
    max-width: 183px;
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .main-section__button button {
    width: 183px;
    height: 50px;
  }
  .banner__form-section {
    margin-left: 36px;
    max-width: 398px;
  }
  .form__title h4 {
    font-size: 18px;
    line-height: 24.5px;
  }
}
@media screen and (max-width: 770px) {
.banner__body{
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
}
.banner__main-section{
  margin-bottom: 56px;
}
.main-section__logo{
  display: none;
}
.main-section__title{
  max-width: 288px;
  text-align: center;
}
.divider.white{
 margin: 0 auto;
}
.main-section__text{
  max-width: 288px;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 42px;
}
.main-section__button button {
  width: 288px;
  height: 50px;
}
.banner__form-section{
  margin-left: 0;
}
.form__title h4 {
  font-size: 14px;
  line-height: 19px;
}
}