.header {
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}
.header__container {
  max-width: 1224px;
  margin: 0 auto;
}
.header__wrapper {
  max-width: 100%;
}
.header__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22.46px 0 20px 0;
}
.header__logo {
  width: 84px;
  height: 100%;
  flex-shrink: 0;
}
.axit__logo {
  height: 30.69px;
  width: 84px;
}
nav.menu {
  margin-right: 55px;
}
ul.menu__panel {
  display: flex;
  justify-content: space-evenly;
}
ul.menu__panel li {
  max-width: 114px;
  text-align: center;
}
.menu__link {
  padding: 0 25px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
.menu__link:hover {
  background: #ec7979;
}
.menu__link:active {
  background: #ab4949;
}
