.banner__container {
  max-width: 100%;
}

.banner__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__body {
  max-width: 100%;
  height: 1026px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/city.png);
  background-size: 1510px 1026px;
  display: flex;
  align-items: center;
}

.banner__left-section {
  display: flex;
  flex-direction: column;
  margin-left: 170px;
}

.left-section__logotip {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.logotip__ax {
  width: 102px;
  height: 55px;
}

.logotip__it {
  width: 63px;
  height: 55px;
}

.left-section__title {
  width: 670px;
  height: 168px;
  margin-bottom: 55.12px;
}

.left-section__title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}

.divider.white {
  border-color: #ffffff;
  margin-left: 0px;
}

.left-section__button button {
  width: 270px;
  height: 58px;
  background: transparent;
  border: 2px solid #ffffff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.left-section__button button:hover {
  border: #ec7979 1px solid;
  color: #ec7979;
  background: #ffffff;
}

.left-section__text {
  width: 270px;
  height: 42px;
  margin-top: 42px;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.banner__right-section {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 170px;
}

.right-section__card {
  width: 470px;
  height: 450px;
  background-color: #ffffff;
  align-items: center;
  border-radius: 10px;
}

.card__title {
  width: 367px;
  height: 90px;
  margin: 0 40px 45px 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.card__title span {
  color: #ec7979;
}

.card__card-input {
  padding: 0 50px 0 50px;
}

.card-input__name input {
  width: 370px;
  height: 35px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  margin-bottom: 53px;
  border-style: hidden hidden groove hidden;
  border-color: #bdbdbd;
}

.card-input__email input {
  width: 370px;
  height: 35px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  margin-bottom: 53px;
  border-style: hidden hidden groove hidden;
  border-color: #bdbdbd;
}

.card-input__psw input {
  width: 370px;
  height: 35px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  border-style: hidden hidden groove hidden;
  border-color: #bdbdbd;
}

.card__btn button {
  width: 470px;
  height: 60px;
  margin-top: 45px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #ec7979;
  border-style: hidden;
  border-radius: 0 0 10px 10px;
}

.card__btn button:hover {
  border: #ec7979 1px solid;
  color: #ec7979;
  background: #ffffff;
}

.banner__footer {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  background-color: #f8efef;
  align-items: center;
}

.text__social-media {
  width: 470px;
  height: 60px;
  margin-left: 170px;
}

.text__social-media h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
}

.text__text {
  width: 470px;
  height: 42px;
  margin-left: 170px;
}

.text__text h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #86878b;
}

.pic__list {
  width: 637.21px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.pic__facebook {
  width: 30.32px;
  height: 55.42px;
}

.pic__twitter {
  width: 57.32px;
  height: 46.56px;
}

.pic__linkedin {
  width: 52.5px;
  height: 52.5px;
}

.pic__pinterest {
  width: 58.33px;
  height: 58.33px;
}

.pic__instagram {
  width: 53px;
  height: 53px;
}

.pic__github {
  width: 58.18px;
  height: 56.75px;
}

.pic__rss {
  width: 46px;
  height: 46px;
}
