.reviews__wrapper {
  max-width: 100%;
}

.reviews__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.reviews__title {
  max-width: 1170px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.reviews__title h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reviews__info {
  margin-top: 40px;
}

.reviews__info h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #86878b;
}

.reviews__body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 83px;
  margin-bottom: 64px;
}

.reviews__card {
  display: flex;
  flex-direction: column;
}

.reviews__message {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 66px;
}

.message__cards {
  width: 370px;
  height: 180px;
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 38px 0 37px 0;
}

.message__cards h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #86878b;
}

.reviews__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.profile__avatar {
  width: 70px;
  height: 70px;
}

.profile__info {
}

.info__nick {
  margin-bottom: 15px;
  margin-left: 30px;
}

.info__nick h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #000000;
}

.info__position {
  margin-left: 30px;
}

.info__position h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
}
