@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}
.divider {
    display: block;
    width: 170px;
    margin: 0 auto;
}
.divider_pink {
    border-bottom: 2px solid #EC7979;
}